<DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Displaying text directions with <code>setPanel()</code></title>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>
  </head>
  <div id="sidebar" data-toggle="hidden">
    <button id="togglebtn" class="btn btn-default">
      <span id="label">
        <span class="glyphicon glyphicon-th-large"></span>
        Menu
      </span>
    </button>

  	<div id="menu" class="btn-group-vertical">
      <button class="btn btn-default" data-target="#navCarousel" data-slide-to="0">Home</button>
      <button class="btn btn-default">About Us</button>
      <a href="https://github.com/Lewis-Ho/DA" target="_blank" class="btn btn-default">Github</a>
      <button class="btn btn-default" data-target="#navCarousel" data-slide-to="3">Feedback</button>
    </div>
  </div>

  <div id="carousel-container" class="container-fluid">
  <div id="navCarousel" class="col-xs-12 carousel slide" data-ride="carousel" data-interval="false" data-keyboard="false">

      <div class="carousel-inner">

        <div class="item active">
          <div class="col-xs-12">
            <img id="logo" src="logo.png" class="img-responsive centered" alt="Logo">
            <form id="pointAB" role="form">

              <div class="row">
                <div class="form-group searchBar centered"> 
                  <label for="pointA">Start:</label>
                    <div class="input-group">
                      <input id="start" type="text" class="form-control" data-bind="value:start" placeholder="Current Location"/>
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button" onClick="getAddress(fillAddress)">
                          <span class="glyphicon glyphicon-map-marker redMarker"></span>
                        </button>
                      </span>
                    </div>
                    </div>
                </div>

              <div class="row">
                <div class="form-group searchBar centered">
                    <label for="pointB">End:</label>
                    <div class="input-group">
                      <input id="end" type="text" class="form-control" data-bind="value:end" placeholder="Destination"/>
                      <span class="input-group-btn">
                        <button id="goBtn" class="btn btn-default" data-slide="next" data-initial="true" onclick="calcRoute(); hideMessage();">
                          Go
                        </button>
                      </span>
                  </div>
                </div>
            </div>
          </form>

            <div class "row">
              <div id="message-container">
                <span id="icon"></span>
                <span id="message"></span>
              </div>
            </div>
          </div>
        </div>
      
      <div class="item">
        <div class="col-xs-12">
          <div class="row">
            <div id="map-canvas" class="col-xs-11 col-xs-height col-sm-6 col-sm-height"></div>
            </div>

            <div class="row">
            	<ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
            		<li class="active"><a href="#tab0" data-toggle="tab">Directions</a></li>
            		<li id="routeChange" data-route="0"><a href="#">Alt. Route
            			<span class="glyphicon glyphicon-triangle-right"></span>
            		</a></li>
            	</ul>

            	<div class="tab-content">
	            	<div id="tab0" class="tab-pane active">
  	          		<div id="directions-panel" class="col-xs-11 col-xs-height col-sm-12 col-sm-height">
              			<div id="init-message">
              				<p>Select point A and B</p>
              			</div>	
					</div>	
					</div>
            	</div>
            </div>
        	</div>
        </div>
    
    	<div class="item">
    		<div class="col-xs-12">
    			<div class="row row-same-height jumbotron" style="background: black; border-radius: 30px; margin-top:30px; text-align: center; color: white;">
    				<p>Does the information seem correct?</p>
    			</div>
    			<div class="btn-group-vertical" style="margin-left: auto; margin-right: auto;">
    				<button class="btn btn-default">Yes</button>
    				<button class="btn btn-default">No</button>
    			</div>
    		</div>
    	</div>

    	<div class="item">
    		<div class="col-xs-12">
    			<form id="feedback" action:"mailto: lutherling12+subwAyZ.feedback@gmail.com" method="post">
							<div class="row">
		    				<div class="form-group centered">
		    					<label for="feedback-content">Please let us know what you think of our project. Thanks!</label>
				    			<textarea id="feedback-content" class="form-control" rows="4" placeholder="Please write your comments here."></textarea>
				    			<button class="btn btn-default" onclick="#">Submit</button>
				    		</div>
		    			</div>
					</form>
    		</div>
    	</div>

  	</div>

  </div>
  </div>

  <nav class="navbar navbar-default navbar-fixed-bottom">
    <ol class="carousel-indicators">
      <li id="marker1" data-target="#navCarousel" data-slide-to="0" class="active"></li>
      <li id="marker2" data-target="#navCarousel" data-slide-to="1"></li>
      <li id="marker3" data-target="#navCarousel" data-slide-to="2"></li>
    </ol>
  </nav>

  </body>
</html>