<!DOCTYPE html>
<html>
<head>
  <title>Subwaz</title>
  <%= csrf_meta_tags %>
</head>

<body>
  <div class="header">
    <h1>Subwaz</h1>
  </div>
  
  <div class="station-img">
    <div class="sixth-train-link">6</div>
    <div class="direction">
      <span class="tag" style="display:none;">
        <%= link_to 'Uptown', welcome_station_path %> | <%= link_to 'Downtown', welcome_station_path %>
      </span>
    </div>
    <!-- a href="#"><%= image_tag "circular108.png" %></a -->
  </div>
  
</body>
</html>


