<DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Displaying text directions with <code>setPanel()</code></title>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>
  </head>
  <body>

  <div id="carousel-container" class="container">
  <div id="navCarousel" class="col-xs-12 carousel slide" data-ride="carousel" data-interval="false">

      <div class="carousel-inner">

        <div class="item active">
          <div class="col-xs-12 container">
            <form id="pointAB" role="form">

              <div class="row">
                <div class="col-xs-11"> 
                <div class="input-group searchBar"> 
                  <label for="pointA">Start:</label>
                    <div class="input-group">
                      <input id="start" type="text" class="form-control" data-bind="value:start" placeholder="Current Location"/>
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button" onClick="getAddress()">
                          <span class="glyphicon glyphicon-map-marker redMarker"></span>
                        </button>
                      </span>
                    </div>
                    </div>
                  </div>
                </div>

              <div class="row">
                <div class="col-xs-11">
                  <div class="input-group searchBar">
                    <label for="pointB">End:</label>
                    <div class="input-group">
                      <input id="end" type="text" class="form-control" data-bind="value:end" placeholder="Destination"/>
                      <span class="input-group-btn">
                        <button class="btn btn-default" data-slide="next" onclick="calcRoute(); hideMessage(); hideMarker();">
                          Go
                        </button>
                      </span>
                  </div>
                </div>
              </div>
            </div>
          </form>

<!--
              <div class="row">
                <div class="col-xs-11">
                  <div class="input-group submitbtn">
                    <button class="btn gobtn" data-slide="next" onclick="calcRoute(); hideMessage(); hideMarker();">Get Directions</button>
                  </div>
                </div>
              </div>
            </form>
-->        
            <div class "row">
              <div id = "err-container" class="alert alert-danger">
                <span class="glyphicon glyphicon-warning-sign"></span>
                <span id="err-message"></span>
              </div>
            </div>
          </div>
        </div>
      
      <div class="item">
        <div class="col-xs-12 container">
          <div class="row row-same-height">
            <div id="map-canvas" class="col-xs-6 col-xs-height"></div>
            <div id="directions-panel" class="col-xs-3 col-xs-height">
              <div id="init-message">
              <p>Select point A and B</p>
              </div>
            </div>
            <div id="station-info" class="col-xs-2 col-xs-height">
              <p>Station Info:</p>
              <p> 
              <p id="train"></p>
              <p id="train-stop-depart"></p>
              <p id="train-stop-end"></p>
              <p id="num-stop"></p>
              <p id="arrival_time"></p>
              <p id="departure_time"></p>
              <p id="distance"></p>
              <p id="duration"></p>
              <!-- <%= link_to "an article", @station%> -->
              <!-- <div id="info"></div> -->
            </div>
          </div>
        </div>
      </div>

      </div>
    </div>
  
    <ol class="carousel-indicators">
      <li data-target="#navCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#navCarousel" data-slide-to="1" class="active"></li>
    </ol>
  
  </div>
  </div>

  </body>
</html>