<div id="sidebar" data-toggle="hidden">
  <button id="togglebtn" class="btn btn-default">
    <span id="menu-label">
      <span class="glyphicon glyphicon-th-large"></span>Menu
    </span>
  </button>

	<div class="btn-group-vertical">
    <button class="btn btn-default" data-target="#navCarousel" data-slide-to="0">Home</button>
    <button class="btn btn-default">About Us</button>
    <a href="https://github.com/Lewis-Ho/Subwayz" target="_blank" class="btn btn-default">Github</a>
    <button class="btn btn-default" data-target="#navCarousel" data-slide-to="3">Feedback</button>
  </div>
</div><!--End of Sidebar-->

  <div id="carousel-container" class="container-fluid">
  <div id="navCarousel" class="col-xs-12 carousel slide" data-ride="carousel" data-interval="false" data-keyboard="false">

    <div class="carousel-inner">

      <div class="item active">
        <div class="col-xs-12 col-sm-offset-3 col-sm-6">
          <img id="logo" src="logo.png" class="img-responsive centered" alt="Logo">
          <form id="pointAB" role="form">

            <div class="row">
              <div class="form-group searchBar centered"> 
                <label for="pointA">Start:</label>
                  <div class="input-group">
                    <input id="start" type="text" class="form-control" data-bind="value:start" placeholder="Current Location"/>
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button" onClick="getAddress(fillAddress)">
                        <span class="glyphicon glyphicon-map-marker"></span>
                      </button>
                    </span>
                  </div>
                  </div>
              </div>

            <div class="row">
              <div class="form-group searchBar centered">
                  <label for="pointB">End:</label>
                  <div class="input-group">
                    <input id="end" type="text" class="form-control" data-bind="value:end" placeholder="Destination"/>
                    <span class="input-group-btn">
                      <button class="btn btn-default" data-slide="next" data-initial="true">
                        Go
                      </button>
                    </span>
                </div>
              </div>
          </div>
        </form>

          <div class "row">
            <div id="message-container">
              <span id="icon"></span>
              <span id="message"></span>
            </div>
          </div>

        <div class "row">
          <div id="recent">
            <p><b>Recent Searches:</b></p>
            <div class="btn-group-vertical">
            </div>
          </div>
          <!--<div id="testing-current-distance"></div>-->
        </div>

        </div>
      </div><!--End of Item 0-->
    
    <div class="item">
      <div class="col-xs-12 col-sm-offset-2 col-sm-4 col-sm-height">
        <div id="map-canvas" class="hide-canvas"></div> 
      </div>

      <div class="col-xs-12 col-sm-4 col-sm-height">
        <div class="row">
          <ul id="tabs" class="nav nav-tabs custom" data-tabs="tabs">
            <li id="directionsTab" class="active">
              <a href="#tab0" data-toggle="tab">Directions</a>
            </li>
            <li id="routeChange" data-route="0">
              <a href="#"><span class="glyphicon glyphicon-triangle-right"></span></a>
            </li>
          </ul>
        </div>

        <div class="row">
          <div class="tab-content">
            <div id="tab0" class="tab-pane active"></div>
          </div>
        </div>
      </div>

    </div><!--End of Item 1-->
  
  	<div class="item">
  		<div class="col-xs-12 col-sm-offset-3 col-sm-6">
				<div class="voting jumbotron"></div>
    			<div class="btn-group-vertical centered">
    				<button id="yes" class="btn btn-default" onclick="voteButton(this.id)">Yes</button>
    				<button id="no" class="btn btn-default" onclick="voteButton(this.id)">No</button>
    			</div>
  	 </div>
    </div><!--End of Item 2-->

  	<div class="item">
  		<div class="col-xs-12  col-sm-offset-3 col-sm-6">
  			<form id="feedback">
						<div class="row">
	    				<div class="form-group">
                <label for="user-email">Email</label>
                <input id="user-email" class="form-control" placeholder="Please enter your email for replies. (Optional)">
              </div>
              <div class="form-group">
	    					<label for="feedback-content">Please let us know what you think of our project. Thanks!</label>
			    			<textarea id="feedback-content" class="form-control" rows="4" placeholder="Please write your comments here."></textarea>
			    			<button class="btn btn-default" onclick="emailSend()">Submit</button>
			    		</div>
	    			</div>
				</form>
  		</div>
  	</div><!--End of Item 3-->

	</div><!--End of .carousel-inner-->

</div><!--End of #navCarousel-->
</div><!--End of #carousel-container-->

<!--
<nav class="navbar navbar-default navbar-fixed-bottom">
  <ol class="carousel-indicators custom">
    <li id="marker1" data-target="#navCarousel" data-slide-to="0" class="active"></li>
    <li id="marker2" data-target="#navCarousel" data-slide-to="1"></li>
    <li id="marker3" data-target="#navCarousel" data-slide-to="2"></li>
  </ol>
</nav>
-->