<DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Displaying text directions with <code>setPanel()</code></title>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
  </head>
  <body>

      <strong>Start:</strong>
        <input id="start" type="text" class="form-control searchBar" data-bind="value:start" placeholder="Current Location"/><br>
      <strong>End:</strong><input id="end" type="text" class="form-control searchBar" data-bind="value:end" placeholder="Destination"/><br>

      <button class="btn btn-success" onclick="calcRoute(); hideMessage();">Get Directions</button><br>

    <div id="map-canvas"></div>
    <div id="directions-panel">
      <div id="init-message">
        <p>Please Select Point A and B</p>
      </div>
    </div>
    <div id="station-info">
      <p>Station Info:</p>
      <p id="train"></p>
      <p id="train-stop-depart"></p>
      <p id="train-stop-end"></p>
      <p id="num-stop"></p>
      <p id="arrival_time"></p>
      <p id="departure_time"></p>
      <p id="distance"></p>
      <p id="duration"></p>
      <!-- <%= link_to "an article", @station%> -->
      <!-- <div id="info"></div> -->
    </div>
  </body>
</html>