<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Displaying text directions with <code>setPanel()</code></title>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
  </head>
  <body>
    <div id="control">
      <strong>Start:</strong><input id ="start" type="text" data-bind="value:start"/>
      <strong>End:</strong><input id="end" type="text" data-bind="value:end"/>

      <button onclick="calcRoute(); hideMessage();">Get Directions</button>
    </div>

    <div id="map-canvas"></div>
    <div id="directions-panel">
      <div id="init-message">
        <p>Please Select Point A and B</p>
      </div>
    </div>
    <div id="station-info">
      <p>Station Info: </p>
      <div id="info">
        
      </div>
    </div>
  </body>
</html>