<!DOCTYPE html>
<html>
<head>
  <title>DA</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <!--%= javascript_include_tag 'welcome', 'data-turbolinks-track' => true %-->
  <%= csrf_meta_tags %>
</head>

<body>
  <div class="header">
    <h1>DA</h1>
    <p1>This app will help get you to where you want on time.</p1>
  </div>
  
  <div class="station-img">
    <a href="#"><%= image_tag "circular108.png" %></a>
  </div>
  
</body>
</html>


