html {
  height: 100%;
}

body {
  height: 100%;
  padding: 5%;
  margin: 1%
}

#panel {
  position: absolute;
  top: 5px;
  left: 50%;
  margin-left: -180px;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
}

#directions-panel, #station-info {
  border-style:solid;
  border-color: gray;
  min-width: 200px;
  height: 400px;
}

#map-canvas {
  min-width: 200px;
  min-height: 200px;
  border-style: solid;
  border-color: red;
}

#init-message, #message-container, #station-info {
  text-align: center;
}

<<<<<<< HEAD
#init-message, #message-container, #station-info {
  text-align: center;
=======
#alt-routes-btn {
  overflow: visible;
>>>>>>> welcomePage
}

#carousel-container {
  min-height: 300px;
  max-width:800px;
}

.carousel-indicators {
  background: red;
}

.form-group.searchBar {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

.btn.gobtn {
  border-color: orange;
  color: orange;
  background: none;
  margin-top: 15px;
  margin-bottom: 15px;
}

<<<<<<< HEAD
.btn-circle {
=======
.btn-default.btn-circle {
>>>>>>> welcomePage
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.42;
<<<<<<< HEAD
  border-radius: 15px;
=======
  border-radius: 50%;
  background: #EE352E;
  margin-bottom: 15px;
  color: white;
>>>>>>> welcomePage
}

.glyphicon-map-marker.redMarker {
  color: #EE352E;
}

.container-fluid {
  max-width: 640px;
  overflow-y: hidden;
}