// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header {
  text-align: center;
}

.station-img {
  text-align: center;
}