<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  </head>
  <body>
    <h1>You've received the following feedback:</h1>
    <p>
      <%= @mail_body %>
    </p>
    <p>
      Reply to: <%= @reply_email %>
    </p>
  </body>
</html>